.dislike{
    transform:rotateY(180deg);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}

#like,#dislike{
    font-size: 20px;
}

#hozzaszolas{
    height: 100px; 
    resize: none;
}

#hozzaszolasok{
    height: 600px;
}
