<div class="container-fluid my-3">
    <div class="row gy-3">
        <div class="col-12 bg-white p-5">
            <h3 class="mb-3">Történetek keresése</h3>
            <div class="input-group">
                <div class="input-group form-floating">
                    <select id="megye" [(ngModel)]="valasztott_megye" class="form-select" (change)="onMegyeChange()">
                        <option value="">Válassz megyét...</option>
                        <option *ngFor="let megye of megyek" [value]="megye.megye">{{megye.megye}}</option>
                    </select>
                    <label for="megye">Megye</label>
                </div>
                <div class="input-group form-floating mx-1">
                    <select id="telepules" class="form-select" [(ngModel)]="valasztott_telepules" [disabled]="!valasztott_megye">
                        <option value="">Válassz települést...</option>
                        <option *ngFor="let telepules of telepulesek" [value]="telepules.telepules">{{telepules.telepules}}</option>
                    </select>
                    <label for="telepules">Település</label>
                    <button type="button" class="btn btn-primary mx-1" (click)="kereses()">Keresés</button>
                    <button type="button" class="btn btn-secondary" (click)="szurestTorlese()">Szűrés törlése</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h3>Találatok: {{tortenetek.length}} db</h3>
        </div>
    </div>
    <div class="row vh-100 g-3" *ngIf="tortenetek.length >0">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let tortenet of tortenetek">
            <div class="card" routerLink="/tortenetek/{{tortenet.telepules}}/{{tortenet.id}}">
                <div class="card-body">
                    <h5 class="card-title">{{tortenet.cim}}</h5>
                    <p class="card-text">{{tortenet.tortenet}}...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row vh-100 align-items-center" *ngIf="tortenetek.length === 0">
        <div class="col-12 text-center my-5">
            <h4 class="text-muted">Nincs megjeleníthető történet</h4>
        </div>
    </div>
</div>
<app-footer></app-footer>

